::root {
  --grayish-blue: hsl(233, 13%, 49%);
  --light-grayish-blue: hsl(234, 14%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 15px;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  background: hsl(240, 78%, 98%);
  height: 100vh;
  padding: 3rem 0;
}

.container {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: hsl(233, 13%, 40%);
  margin-bottom: 2rem;
  font-size: 2rem;
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.toggle-text {
  color: hsl(233, 13%, 49%);
  font-weight: 500;
  font-size: 1.1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 0 1.3rem;
}
.switch::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 28px;
}

.checkbox:checked + .switch {
  background-color: #7983ff;
}

.checkbox {
  display: none;
}
