:root {
  --white: #fff;
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --serif-font: "DM Serif Display", serif;
  --san-serif-font: "Karla", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--san-serif-font);
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: var(--serif-font);
  color: var(--VeryDarkViolet);
  font-weight: 700;
}

img {
  width: 100%;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

button,
.btn {
  border-radius: 0.15rem;
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--VeryDarkViolet);
  color: var(--VeryDarkViolet);
  background: var(--white);
}

.uppercase {
  text-transform: uppercase;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid-container {
  display: grid;
}

.logo-container {
  width: 8rem;
}

.hambuger-container {
  width: 2rem;
}

.nav-links-container {
  display: none;
}

.wrapper {
  padding: 1.5rem;
}

nav {
  background: var(--white);
}

.hero-image {
  background: url("./images/image-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 38rem;
}

.main-content {
  color: var(--white);
  background: var(--DarkViolet);
  padding: 8rem 1.5rem;
  position: relative;
}

.main-content h1 {
  font-size: 4rem;
  color: var(--white);
}

.main-content p {
  padding-bottom: 2rem;
}

.btn-2 {
  border: 2px solid var(--white);
  color: var(--white);
  background: none;
  padding: 1rem 2.5rem;
  letter-spacing: 3px;
}

.feature-icons-container {
  width: 5rem;
  margin: 2rem auto;
}

#features {
  grid-template-columns: 1fr;
  grid-row-gap: 4rem;
  padding: 2rem;
}

#features div h3 {
  font-size: 2rem;
}

#features div p {
  font-size: 1.35rem;
  color: var(--DarkGrayishViolet);
}

aside {
  padding: 3rem 1.5rem;
  background: var(--DarkViolet);
  color: var(--white);
}

aside h3 {
  font-size: 2.8rem;
  color: var(--white);
  margin-bottom: 3rem;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    padding: 1.5rem 6rem;
  }

  .line {
    border: 1px solid var(--GrayishBlue);
    display: block;
    width: 10rem;
    margin-bottom: 4rem;
  }

  .nav-links-container {
    display: flex;
    justify-content: space-between;
    flex: 0.4;
  }

  .hambuger-container {
    display: none;
  }
  .nav-link {
    color: var(--DarkGrayishViolet);
    font-size: 0.8rem;
  }

  .hero-image {
    background: url("./images/image-intro-desktop.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: 48rem 7rem;
    height: 100%;
    z-index: 2;
  }

  .main-content {
    padding: 6rem;
  }
  .main-content div {
    width: 51%;
    text-align: left;
  }

  .main-content {
    margin: 1rem 0;
  }

  .main-content div h1 {
    font-size: 4rem;
    text-align: left;
  }

  .main-content div p {
    font-size: 1.19rem;
    text-align: left;
  }

  #features {
    padding: 15rem 6rem 6rem 6rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    justify-items: start;
  }

  .line2,
  #features h2 {
    grid-column: 1 / -1;
  }

  #features h2 {
    font-size: 3rem;
  }

  #features div * {
    margin: 1rem 0;
    text-align: left;
    /* border: 1px solid green; */
  }

  #features div p {
    font-size: 1.2rem;
  }

  aside {
    grid-column: 1/4;
    display: grid;
    padding: 3rem 2rem 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 20rem;
  }
  aside h3 {
    font-size: 3rem;
    text-align: left;
  }
  aside button {
    height: 3rem;
  }
}
